body {
  margin:0;
  background: linear-gradient(45deg,#edeeef, #f2eee1); 
}

.main {
  display: flex;
}

.form-parent{
  width: 30%;
  margin: 200px auto auto auto;
  padding: 50px;
  border: 10px solid #525456;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(215, 220, 224);
}

.form{
  margin: 20px;
  padding: 20px;
}

.input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit-button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
}

a {
  margin-left: 40px;
  color:#525456;
}


.right-body {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #525456;
  margin-left: 20px;
  margin-top: 20px;
}

h2 {
display: block;
font-size: 1.5em;
margin-top: 0.83em;
margin-bottom: 0.83em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
text-align: center;
font-family: sans-serif;
}

h4 { 
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

.chart-align {
  display: flex;
  flex-direction: row;
}